<h1>Editor: Help</h1>

<p>Dashboardi provides a drag and drop editor for managing your dashboards. This editor allows you to add panels to your pages, rearrange your panels, and edit the properties of your panels.</p>

<h2>Adding/Removing/Rearranging Panels</h2>
<p>To add a new panel, simply drag from the panel type in the palette section of the editor and drop it into the workspace. A new panel will appear in the workspace. To remove a panel, simply right-click on it and click delete in the menu which appears.</p>

<h2>Resizing Panels</h2>
<p>Some panels are able to be resized. These panels will contain either a "height" and "width" property, or a "size" property. See below for how to edit these properties.</p>

<h2>Editing Panel Properties</h2>
<p>To begin editing a panel, simply click on it. The properties pane of the editor will become a form which allows you to edit any of the properties of the panel. (The selected panel will be idenfied by a blue glow around it. To find out the effects of changing these properties, see the help section for that type of panel <%= link_to "here", "/help/panels" %>.</p>