<h1>Pages: Help</h1>
<p>A project/dashbaord can have multiple pages. Panels can be added to a page, such as the navbutton panel, which allows a user to navagate between pages. Pages share a set of data sources and functions, but contain different panels.</p>
<p>Pages in Dashboardi are managed from within a project. Open a project to manage it's pages. Click the new page button to add a new page with a default name.</p>
<p>Each project has a "default" page, which is the first page that is displayed when a dashboard is first run. (Pages can individually be run by clicking the "run page" button. Each non-default page can be made into the default page by clicking the "make default" button next to it. The default page can never be deleted.</p>
<p>For information on the actual editing of pages, view the <%= link_to "editor help section", "/help/editor" %>.</p>