<h1>Panles: Help</h1>

<p>Panels are the individual tiles which make up the pages of a dashboard.</p>

<h2>Value Panels</h2>
<p></p>

<h2>Gauge Panels</h2>
<p></p>

<h2>Image Panels</h2>
<p></p>

<h2>Time Series Panels</h2>
<p></p>

<h2>Nav Button Panels</h2>
<p></p>