<h1>Projects: Help</h1>


<h2>Adding a New Project</h2>
<p>Project management is Dashboardi is simple. To add a new project, you simply go to the <% link_to "\"My Projects\" page", projects_path %>, and click the "new project" button. This will bring you to the new projet form, where you can fill out the new attributes for your form. What these attributes do and what they affect are described below. After submitting the form, you are automatically brought to the project's page, where you can get to work.</p>

<h2>Editing Project Attributes</h2>
<p>Dashboardi uses in-place editing. This means that you can simply go to a project's page, click on one of it's attributes, and it will change into a text box, allowing you to edit it. Simply click elsewhere, and your new value will be submitted. No need to fill out any more forms.</p>

<h2>Attributes Description</h2>
<p>The attributes you can edit at the project level are as follows:</p>
<ul>
<li><strong>Name:</strong> The name of your project as it appears in the "My Projects" section.</li>
<li><strong>Description</strong> A short description of the project. Appears in the "My Projects" Section. Used for identification.</li>
<li><strong>Target Screen Size:</strong> The resolution of the screen that the dashboard is intended to be displayed on. Affects the size of the workspace in the editor, and the stying of the dashboard when it is displayed.</li>
<li><strong>Project Visibility:</strong> Choose public if you wish anyone who has the link to your dashboard to be able to view it. Choose private if only you should be able to view your dashboard while logged in.</li>
</ul>