<div>Gauge Panel</div>
<div>Title: <%= panel.properties['title']  %></div>
<div>Key: <%= panel.properties['key']  %></div>
<div>Min: <%= panel.properties['min']  %></div>
<div>Max: <%= panel.properties['max']  %></div>