<div class="workspace" data-pageID="<%= @page.id %>">
	<% @page.panels.each do |panel| %>
		<%= render_workspace_panel panel %>
	<% end %>
</div>

<div class="properties">

</div>

<div class="palette">
	<ul>
	<% @palette.each do |pitem| %>
	  <li class="paletteItem" data-paneltype="<%= pitem.id %>"><%= render_palette_item pitem %></li>
	<% end %>
	</ul>
</div>