// Place all the styles related to the editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$properties-height: 200px;
$palette-width: 100px;
$header-height: 40px;

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.workspace {
	position: fixed;
	top: 0;
	left: 0;
	bottom: $properties-height;
	right: $palette-width;
	overflow: auto;
	background-color: lightgreen;

	.panel {
		background-color: white;
	}

	.workspace-inner {

		background-color: green;
	}
}

.header {
  background-image: -webkit-linear-gradient(90deg, #2c2a29 0%, #32302f 100%);
  border-bottom: 1px solid #111010;
  height: $header-height;
  line-height: $header-height;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: 2px;
  text-shadow: 0 -1px 0 #1e1d1c;
  padding-left: 10px;
}

.properties {
	background-color: #5A5A5A;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	right: $palette-width;
	height: $properties-height;
	border-right: 1px solid #111010;
	.properties_form{
		padding: 10px;
	}
}

.palette{
	background-color: blue;
	position: fixed;
	right: 0;
	top: 0;
	width: $palette-width;
	bottom: 0;
}