body {
  background-color: black;

}

.container{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.page {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  margin: 0;
  text-align: left;

  span {
    background-color: white;
  }
  
  .panel {
    overflow: hidden;
    color: black;
  }

  .valuePanel {
    color: black;
    text-align: center;
    .title{font-size:300%;}
    .unit{font-size:70%;}
    .value{font-size:250%;}
  }
  
  .navButtonPanel{
    text-align: center;
    button {
      width: 100%;
      height: 100%;
    }
  }

  .ImagePanel{
    img{
        width: 100%;
        height: 100%;
    }
  }

  .labelPanel{
    div{
      color: black;
      line-height: 80px;
      font-weight: bold;
      font-size: 21px;
      height: 100%;
      width:100%;
      text-align: center;
    }
  }

  .PieChartPanel{
    canvas{
      width: 100% !important;
      max-width: 800px;
      height: auto !important;
    }
  }
}

.purr {
  position: fixed;
  width: 324px;
  top: 70px;
  right: 15px;
  padding: 20px;
  background-color: #000000;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}