<!DOCTYPE html>
<html>
<head>
  <title>Dashboardi</title>
  
  <%= stylesheet_link_tag    "visualisation", media: "all" %>
  <%= javascript_include_tag "visualisation" %>
  <%= csrf_meta_tags %>
  <%= yield %>
</head>
<body>

<div class="container">
	<div class="page"></div>
</div>

</body>
</html>
